article{
    max-width: 1200px;
    margin: 100px auto 0;
    background: rgb(51,51,51);
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border:2px solid   rgb(220, 84, 1);
    transition: 0.3s;
    background-color: #222;
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
    z-index: 100;
    position: inherit;
    width: 40%;
    height: 200px;
}

article:hover{
    background-size: auto 100%;
    border-color: rgb(241, 189, 1);
    border-left: 50px solid;
    transform: translateX(25px);
}

.gameTitle{
    margin-right: 5%;
    font-size: 36px;
    transition: 0.3s;
    width: 30%;
}

a{
    text-decoration: none;
    color:rgb(220, 84, 1);
    transition: 0.2s;
    margin: 0;
    padding: 0;
}

a:hover{
    color:rgb(241, 189, 1);
}
